html{
  background-color: #020617;
}

body {
  font-family: sans-serif;
  background-color: #1e293b;
}

.item-button button {
  margin-top: 20px;
  width: 200px;
  background-color: rgb(9, 78, 60);
  color: white;
  border-radius: 8px;
}

.invoice-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding-inline: 25px;
  border: none;
  background-color: #2f81f7;
  color: #cbd5e1;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.spinner-border {
  height: 50px;
  width: 50px;
}
.test-creds{
  font-size: 12px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-inline: 20px;
  margin-right: 10px;
  border: 1px solid #8b949e;
  border-radius: 5px;
  background-color: #1e293b;
  transition: background-color 0.2s ease-in-out, scale 0.1s ease-in-out;
}

.category:hover {
  background-color: #020617;
  cursor: pointer;
}
.category-active:hover {
  background-color: #589eff;
}

.category h4 {
  color: white !important;
  font-size: 14px;
}

.category-active {
  background-color: #2f81f7;
  color: #fff;
}

.category-active img {
  filter: brightness(0) invert(1);
}


.register {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #1e293b;
}

.register input {
  width: 400px !important;
  border-radius: 8px;
}
.register input:focus {
  width: 400px !important;
  border: 1px solid #2f81f7;
}

.regsiter-form {
  border-radius: 10px;
  border: 1px solid #8b949e;
  background-color: #334155;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}

.regsiter-form h1 {
  text-align: center;
  font-size: 28px;
}

.regsiter-form h2 {
  color: #2f81f7;
  text-align: center;
  font-size: 18px;
}

.regsiter-form label {
  color: #cbd5e1 !important;
}

.regsiter-form p {
  font-size: 16px;
  color: #cbd5e1;
}

.regsiter-form button {
  border-radius: 8px;
  width: 100%;
}

.add-category{
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #334155;
  border: none;
  border-radius: 8px;
  padding: 8px;
  padding-top: 10px;
  height: 35px;
  transition: 200ms ease-in-out;
}

.add-category:is(:hover,:focus){
  background-color: #2f81f7;
}

.add-category p {
  color: #cbd5e1;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 12px;
}

.searchbar{
  background-color: #cbd5e1;
  display: flex;
  align-items: center;
  padding-inline-start: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.search-field{
  font-size: 16px;
  border: none;
  height: 30px;
  padding: 5px;
  background-color: #cbd5e1;
}

.search-field:focus{
  border: none;
  outline: none;
}

.search-icon{
  height: 35px;
  background-color: #2f81f7;
  border: none;
  padding-top: 5px;
  padding-inline-end: 15px;
  text-align: center;
}

.home-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.overlay{
  position: absolute;
  background-color: #0e131c81;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.selling-price{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  width: 300px;
  background-color: #334155;
  padding: 10px;
  border-radius: 6px;
  transform: translate(-50%,-50%);
  scale: 1;
  opacity: 0;
  visibility: hidden;
  transition: scale 100ms ease-in-out;
}

.selling-price.active{
  scale: 1.1;
  opacity: 1;
  visibility: visible;
}

.selling-price button {
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 35px;
  background-color: #2f81f7;
  font-weight: 600;
}

.price-input{
  font-size: 16px;
  border: none;
  padding: 2px 8px;
  max-height: 30px;
  border-radius: 5px;
}

.price-input:focus{
  border: none;
  outline: none;
}

.previous-stock-btn{
  border: none;
  height: 35px;
  border-radius: 6px;
  margin-top: -10px;
  font-size: 16px;
  background-color: #1e293b;
  color: #cbd5e1;
  transition: 200ms ease-in-out;
}

.previous-stock-btn:is(:hover,:focus){
  background-color: #589eff;
  color: #020617;
}

.category-form{
  top: 100%;
  right: 0;
  min-width: 250px;
  background-color: #1e293b;
  margin-top: 0;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: 100ms ease-in-out;
}

.category-form.active{
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}

.category-form input,
.category-form button {
  border: none;
  border-radius: 6px;
  width: 100%;
}
.category-form input:is(:hover,:focus) {
  outline: none;
}

.category-form input {
  background-color: #cbd5e1;
  padding-inline: 8px;
  padding-block: 6px;
  font-size: 14px;
}

.category-form button {
  background-color: #2f81f7;
  height: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
  transition: 100ms ease-in-out;
  font-weight: 600;
  font-size: 16px;
}

.category-form button:is(:hover,:focus) {
  background-color:#589eff;
}

.category-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #334155;
  border-radius: 6px;
}

.category-item p {
  font-size: 16px;
  text-transform: capitalize;
  color: #cbd5e1;
  margin: 0;
  margin-left: 6px;
}

.delete-btn{
  margin-right: 10px;
  margin-block: 6px;
}

.category-count{
  font-weight: 600;
  margin-left: 3px;
  color: #cbd5e1;
}

.select-field{
  width: 100px;
  height: 35px;
  margin-top: -10px;
  border-radius: 6px;
}

.category-outer{
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.category-outer::-webkit-scrollbar{
  display: none;
}

.item-list-outer{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bill-popup{
  position: absolute;
  top: 60%;
  left: 50%;
  min-height: 80vh;
  padding: 10px;
  background-color: #cbd5e1;
  transform: translate(-50%,-50%);
  visibility: hidden;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 100 !important;
}

.bill-popup.active{
  top: 70%;
  opacity: 1;
  visibility: visible;
}

.bill-popup button{
  border: none;
  background-color: #2f81f7;
  height: 35px;
  width: 100%;
  border-radius: 5px;
  padding-inline: 20px;
  font-size: 16px;
  font-weight: 600;
}

.bill .content {
  background-color: #ffffff;
  min-width: 50vw;
}

.content-head-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  font-size: 12px;
  font-family: "Krungthep",sans-serif;
}

.content-head{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  font-size: 12px;
  font-family: "Krungthep",sans-serif;
}

.content-head .title {
  color: #000000;
  font-family: "Britannic Bold",sans-serif;
  font-size: 40px;
  margin: 0;
}

.content-head .sub-title {
  font-size: 16px;
  margin: 0;
}
.content-head .address {
  font-size: 12px;
  margin: 0;
}
.content-head .contact {
  font-size: 9px;
  margin: 0;
  margin-top: 10px;
}

.content .customer-details{
  margin-inline: 2em;
}

.content .customer-details p {
  margin-bottom: 5px;
  font-size: 10px;
  font-family: "Krungthep",sans-serif;
}

.content .invoice-table {
  margin-inline: 2em;
  margin-block: 3em;
}

.content .invoice-table th,
.content .invoice-table tr,
.content .invoice-table td{
  padding: 0.5rem;
  text-align: center;
}

.content .invoice-table th {
  font-size: 10px;
  font-family: "Krungthep",sans-serif;
  background-color: #d2d2d2;
}

.content .invoice-table tr:nth-child(2n) {
  background-color: #e8e8e8;
}

.content .total {
  margin-inline: 2em;
  display: flex;
  justify-content: space-between;
}

.content .total p{
  font-size: 14px;
  font-family: "Krungthep",sans-serif;
}

.content .logo {
  margin-inline: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

.content .logo p {
  font-size: 12px;
  font-family: "Krungthep",sans-serif;
}

.content .footer {
  margin-inline: 2em;
  text-align: center;
  margin-block: 3em;
  font-family: "Krungthep",sans-serif;
}

.content .terms {
  margin-inline: 2em;
  padding-bottom: 2em;
  font-family: "Krungthep",sans-serif;
}